---
layout: tracker_default
---

{{ content }}

<h2>Daily Active Cases by Region</h2>
<p>
Daily active cases by region are shown in the chart below. Date of onset of
illness and date of recovery are used instead of the date of reporting of
confirmed case and date of reporting of recovery. Refer to the Confirmed Cases
and Recoveries sections to see the date proxies applied.
Data within the last 15 days is not yet complete due to reporting delays and
the weekly recovery tagging by DOH.
</p>
{% include chart_image.html filename="Active" %}

<h2>Top Region</h2>
{% include chart_image.html filename="TopActiveRegion" %}

<h2>Top City/Municipality</h2>
{% include chart_image.html filename="TopActiveCityMunRes" %}

<h2>Health Status</h2>
{% include chart_image.html filename="ActivePie" %}

<h2>Age Group</h2>
{% include chart_image.html filename="ActiveAgeGroup" %}
