---
layout: tracker_default
---

{{ content }}

<h2>Specimen Collection to Reporting of Confirmed Case</h2>
<p>
Distribution for the number of days it takes from specimen collection to
reporting of a confirmed case is shown in the chart below. Logarithmic scale is
used in the x axis due to the extremely long tail.
</p>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/SpecimenToRepConf{{ page.period }}.html %}
</div>

<h2>Specimen Collection to Releasing of Test Result of a Confirmed Case</h2>
<p>
Distribution for the number of days it takes from specimen collection to
releasing of test result of a confirmed case is shown in the chart below.
Logarithmic scale is used in the x axis due to the extremely long tail.
</p>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/SpecimenToRelease{{ page.period }}.html %}
</div>

<h2>Test Result Release to Reporting of a Confirmed Case</h2>
<p>
Distribution for the number of days it takes from test result reelase to the
reporting of a confirmed case is shown in the chart below.
Logarithmic scale is used in the x axis due to the extremely long tail.
</p>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/ReleaseToRepConf{{ page.period }}.html %}
</div>
