---
layout: tracker_default
---

{{ content }}

<h2>Daily Death by Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DateDiedRegion" %}
</div>

<h2>Cumulative Death by Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DateDiedCumulativeRegion" %}
</div>

<h2>Top Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="TopDeathRegion" %}
</div>

<h2>Top City/Municipality</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="TopDeathCityMunRes" %}
</div>

<h2>Age Group</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DeathAgeGroup" %}
</div>
