---
layout: tracker_default
---

{{ content }}

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/SpecimenToRepConf{{ page.period }}.html %}
</div>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/SpecimenToRelease{{ page.period }}.html %}
</div>


<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/ReleaseToRepConf{{ page.period }}.html %}
</div>
