---
layout: tracker_default
---

{{ content }}

<h2>Daily Death by Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/DateDied{{ page.period }}Region.html %}
</div>

<h2>Cumulative Death by Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/DateDied{{ page.period }}CumulativeRegion.html %}
</div>

<h2>Top Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/TopDeathRegion{{ page.period }}.html %}
</div>

<h2>Top City/Municipality</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/TopDeathCityMunRes{{ page.period }}.html %}
</div>

<h2>Age Group</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/DeathAgeGroup{{ page.period }}.html %}
</div>
