---
layout: tracker_default
---

{{ content }}

<h2>Confirmed Cases by Time of Reporting</h2>
<p>
Daily confirmed cases with highlighted newly reported cases are shown in the chart below.
</p>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DateOnsetCaseRepType" %}
</div>

<h2>Date Proxy</h2>
<p>
Date proxies are shown in the chart below. Date of specimen collection is used by
the DOH in their reporting for cases with no date of onset of illeness. The same
is applied in this tracker. However, in the absence of both the date of onset of
illness and date of specimen collection, the date of reporting is used.
</p>
{% include chart_image.html filename="DateOnsetOnsetProxy" %}

<h2>Daily Confirmed Cases by Region</h2>
{% include chart_image.html filename="DateOnsetRegion" %}

<h2>Cumulative Confirmed Cases by Region</h2>
{% include chart_image.html filename="DateOnsetCumulativeRegion" %}

<h2>Top Region</h2>
{% include chart_image.html filename="TopConfirmedCaseRegion" %}

<h2>Top City/Municipality</h2>
{% include chart_image.html filename="TopConfirmedCaseCityMunRes" %}

<h2>Health Status</h2>
{% include chart_image.html filename="ConfirmedPie" %}

<h2>Age Group</h2>
{% include chart_image.html filename="ConfirmedAgeGroup" %}
