---
layout: tracker_default
---

{{ content }}

<h2>Daily Active Cases by Region</h2>
<p>
Daily active cases by region are shown in the chart below. Date of onset of
illness and date of recovery are used instead of the date of reporting of
confirmed case and date of reporting of recovery. Refer to the Confirmed Cases
and Recoveries sections to see the date proxies applied.
Data within the last 15 days is not yet complete due to reporting delays and
the weekly recovery tagging by DOH.
</p>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="Active" %}
</div>

<h2>Top Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="TopActiveRegion" %}
</div>

<h2>Top City/Municipality</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="TopActiveCityMunRes" %}
</div>

<h2>Health Status</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="ActivePie" %}
</div>

<h2>Age Group</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="ActiveAgeGroup" %}
</div>
