---
layout: default
---

{{ content }}



<h2>Confirmed Cases</h2>
{% include charts/DateOnset{{ page.period }}CaseRepType.html %}

<h3>Confirmed Cases by Region</h3>
{% include charts/DateOnset{{ page.period }}Region.html %}

<h3>Top City/Municipality</h3>
{% include charts/CityMunRes{{ page.period }}.html %}

<h2>Recovery</h2>
{% include charts/DateRecover{{ page.period }}Region.html %}

<h2>Death</h2>
{% include charts/DateDied{{ page.period }}Region.html %}


<h2>Testing</h2>

<h3>Daily</h3>

{% include charts/daily_output_positive_individuals{{ page.period }}.html %}

{% include charts/daily_output_unique_individuals{{ page.period }}.html %}

{% include charts/daily_output_samples_tested{{ page.period }}.html %}


<h3>Cumulative</h3>

{% include charts/cumulative_positive_individuals{{ page.period }}.html %}

{% include charts/cumulative_unique_individuals{{ page.period }}.html %}

{% include charts/cumulative_samples_tested{{ page.period }}.html %}


<h2>Reporting</h2>

{% include charts/SpecimenToRepConf{{ page.period }}.html %}

{% include charts/SpecimenToRelease{{ page.period }}.html %}

{% include charts/ReleaseToRepConf{{ page.period }}.html %}
