---
layout: tracker_default
---

{{ content }}

<h2>Daily</h2>

<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="daily_output_positive_individuals" %}
</div>

<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="daily_output_unique_individuals" %}
</div>

<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="daily_output_samples_tested" %}
</div>

<h2>Cumulative</h2>

<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="cumulative_positive_individuals" %}
</div>

<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="cumulative_unique_individuals" %}
</div>

<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="cumulative_samples_tested" %}
</div>
