---
layout: tracker_default
---

{{ content }}

<h2>Daily</h2>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/daily_output_positive_individuals{{ page.period }}.html %}
</div>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/daily_output_unique_individuals{{ page.period }}.html %}
</div>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/daily_output_samples_tested{{ page.period }}.html %}
</div>

<h2>Cumulative</h2>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/cumulative_positive_individuals{{ page.period }}.html %}
</div>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/cumulative_unique_individuals{{ page.period }}.html %}
</div>

<div class="embed-responsive embed-chart {% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include tracker/charts/cumulative_samples_tested{{ page.period }}.html %}
</div>
