---
layout: tracker_default
---

{{ content }}

<h2>Date Proxy</h2>
<p>
Date proxies are shown in the chart below. Many of the recoveries in the data
drop do not have an entry for the date of recovery field. To compensate for this
lack of data, date proxies are used in this tracker. If the case does not have
a date of recovery entry, the date of onset (or its proxy) + 14 days is used.
</p>
{% include chart_image.html filename="DateRecoverRecoverProxy" %}

<h2>Daily Recovery by Region</h2>
{% include chart_image.html filename="DateRecoverRegion" %}

<h2>Cumulative Recovery by Region</h2>
{% include chart_image.html filename="DateRecoverCumulativeRegion" %}

<h2>Top Region</h2>
{% include chart_image.html filename="TopRecoveryRegion" %}

<h2>Top City/Municipality</h2>
{% include chart_image.html filename="TopRecoveryCityMunRes" %}

<h2>Age Group</h2>
{% include chart_image.html filename="RecoveryAgeGroup" %}
