---
layout: tracker_default
---

{{ content }}

<h2>Date Proxy</h2>
<p>
Date proxies are shown in the chart below. Many of the recoveries in the data
drop do not have an entry for the date of recovery field. To compensate for this
lack of data, date proxies are used in this tracker. If the case does not have
a date of recovery entry, the date of onset (or its proxy) + 14 days is used.
</p>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DateRecoverRecoverProxy" %}
</div>

<h2>Daily Recovery by Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DateRecoverRegion" %}
</div>

<h2>Cumulative Recovery by Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="DateRecoverCumulativeRegion" %}
</div>

<h2>Top Region</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="TopRecoveryRegion" %}
</div>

<h2>Top City/Municipality</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="TopRecoveryCityMunRes" %}
</div>

<h2>Age Group</h2>
<div class="{% if site.scrollappear_enabled %}scrollappear{% endif %}">
{% include chart_image.html filename="RecoveryAgeGroup" %}
</div>
